* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #37404f;
}

html, body{
    padding: 0;
    margin: 0;
}
.nav ul{
    margin: 0;
}
.nav li{
    display: inline;
}
.nav a{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;

}
.nav a:hover{
    background-color: #4e5766;
}
.main-nav{
    text-align: center;
    font-size: 1.2em;
    font-weight: lighter;
    border-bottom: 1px solid #bfc6d4;
}
.main-nav li{
    padding: 0% 5%;
}
.main-header {
    background-color: #f8edd9;
    background-image: url(images/trees-9480700_1920.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;

}
.band-name{
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-weight: normal;
    color: #f4efee;
}
.band-name-large{
    font-size: 7em;
}
.content-section{
    margin: 1em;
}
.container{
    max-width: 950px;
    margin: 0 auto;
    padding: 0 1.2em;
}
.section-header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 1.7em;
}
.about-band-image{
    float: left;
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 50%;
}
.main-footer{
    background-color: #024a43;
    color: white;
    padding: .25em 0;
}
.main-footer-container{
    display: flex;
    align-items: center;

}
.main-footer-container ul{
    flex-grow: 1;
    text-align: end;

}
.footer-nav li{
    padding: 0 0.5em;
}
.footer-nav img{
    width: 30px;
    height: 30px;
    
}